<h3>Structural Directives</h3>

<h5>NgIf</h5>

<div class="menu-container">
  <div *ngIf="!isOpen">
    <svg (click)="isOpen = true" xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </div>
  <div *ngIf="isOpen">
    <svg (click)="isOpen = false" xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </div>

  <ng-template [ngIf]="isOpen">
    <ul class="menu">
      <li>Link1</li>
      <li>Link2</li>
      <li>Link3</li>
    </ul>
  </ng-template>

</div>


<h5>NgFor</h5>

<ul>
  <li *ngFor="let fruit of listItem; index as i; first as isFirst; odd as isOdd"
      [ngClass]="{'odd': isOdd}">
    {{i}} - {{fruit}} - {{isFirst ? 'Premier' : ''}} - {{isOdd ? 'impaire': 'paire'}}
  </li>
</ul>

<h5>NgSwitch</h5>

<input [(ngModel)]="choice"/>

<div [ngSwitch]="choice">
  <div *ngSwitchCase="1">Pomme</div>
  <div *ngSwitchCase="2">Poire</div>
  <div *ngSwitchCase="3">Fraise</div>
  <div *ngSwitchDefault>Entrez 1, 2 ou 3</div>
</div>
