<h1>Pipes</h1>

<p>UpperCasePipe : {{message | uppercase}}</p>
<p>LowerCasePipe : {{message | lowercase}}</p>
<p>TitleCasePipe : {{message | titlecase}}</p>

<p>Date de naissainces: {{birthDate}}</p>
<p>DatePipe : {{birthDate | date: 'dd-MM-yyyy'}}</p>


<p>Decimal: {{price | currency: 'EUR'}}</p>

<hr>

<h4>Custom Pipes</h4>
<p>Température celsius: {{temperature}} => Température en F: {{temperature | toFarhenheit}}</p>
<p>Valeur Température Celsius: {{temperature}}</p>
<p>Valeur Température Farhenheit: {{temperatureF}}</p>
<p>Température en Celsius : {{temperatureF | temperature: 'c'}}</p>
<p>Conversion de {{temperature}} en Farhenheit : {{temperature | temperature: 'f'}}</p>
